body {
    padding: 1% 5%;
}

#calendar table {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
}

#calendar td {
    height: 100px;
    width: 14.28%;
    border: solid 1px #AAA;
    vertical-align: top;
    text-align: center;
}

#calendar td a {
    font-size: 10px;
    text-decoration: none;
    border: solid 1px #CCC;
    background-color: #DDD;
    padding: 3px;
    border-radius: 6px;
}

.date-label {
    font-size: 11px;
    float:  right;
    padding: 3%;
    color: #888;
}

.has-errors {
    background-color: #FEE!important;
}

td.has-data {
    cursor: pointer;
    background-color: #EFE;
}

.error-count {
    padding: 20px;
    font-size: 11px;
    letter-spacing: 1px;
    color: #666;
    margin-top: 15px;
}

.no-data {
    background-color: #EEE;
}

button {
    font-size: 20px;
}

h4.list-group-item-heading {

}

#legend {
    padding: 5px;
    border: solid 1px #999;
    float: left;
    background-color: #FEFEFE;
    margin-top: 10px;
    padding-right: 20px;
}

.legend-key {
    width: 25px;
    border: solid 1px #999;
    height 25px;
    float: left;
    margin-right: 10px;
}

.key-item {
    clear: both;
    margin-bottom: 5px;
}

.unsynced {
    background-color: #EEE;
}

.synced {
    background-color: #EFE;
}

.errors {
    background-color: #FEE;
}

/* Center the loader */
#loader {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #3498db;
    border-radius: 50%;
    border-top: 16px solid #f3f3f3;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

input#username {
    margin-bottom: 10px;
}
