body {
    padding: 1% 5%;
}

#calendar table {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
}

#calendar td {
    height: 100px;
    width: 14.28%;
    border: solid 1px #AAA;
    vertical-align: top;
    text-align: center;
}

#calendar td a {
    font-size: 10px;
    text-decoration: none;
    border: solid 1px #CCC;
    background-color: #DDD;
    padding: 3px;
    border-radius: 6px;
}

.date-label {
    font-size: 11px;
    float:  right;
    padding: 3%;
    color: #888;
}

.has-errors {
    background-color: #FEE!important;
}

td.has-data {
    cursor: pointer;
    background-color: #EFE;
}

.error-count {
    padding: 20px;
    font-size: 11px;
    letter-spacing: 1px;
    color: #666;
    margin-top: 15px;
}

.no-data {
    background-color: #EEE;
}

button {
    font-size: 20px;
    margin: 13px;
}

h4.list-group-item-heading {

}

#legend {
    padding: 5px;
    border: solid 1px #999;
    float: left;
    background-color: #FEFEFE;
    margin-top: 10px;
    padding-right: 20px;
}

.legend-key {
    width: 25px;
    border: solid 1px #999;
    height 25px;
    float: left;
    margin-right: 10px;
}

.key-item {
    clear: both;
    margin-bottom: 5px;
}

.unsynced {
    background-color: #EEE;
}

.synced {
    background-color: #EFE;
}

.errors {
    background-color: #FEE;
}
